<h1>Übersicht</h1>

<div class="row">
  <div class="col-xs-6">
    {{#link-to "overview.add"  class="btn btn-primary"}}
    <span class="glyphicon glyphicon-plus" > </span> Neu
    {{/link-to}}
  </div>
  <div class="col-xs-6">
    <div class="input-group">
      {{input type="text" placeholder="Suche" class="form-control" value=search}}
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>
{{outlet}}
<div class="box">
<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Ersteller</th>
    <th>Datum</th>
    <th>Betrag</th>
    <th>Optionen</th>
  </thead>
  <tbody>
    {{#each model as |billing-item|}}
    <tr>
      <td>{{billing-item.title}}</td>
      <td>{{billing-item.author.name}}</td>
      <td>{{billing-item.createdAt}}</td>
      <td>{{billing-item.price}} €</td>
      <td></td>
    </tr>
    {{else}}
    Keine Einträge vorhanden.
    {{/each}}
  </tbody>
</table>
</div>
